{% extends "base.html" %}

{% block content %}
    <h1>Режим работы</h1>
    <h2>Регистратура</h2>
    <ul>
        <li>ПН-ПТ: 9:00 - 19:00</li>
        <li>СБ: 9:00 - 17:00</li>
        <li>ВС - выходной</li>
    </ul>
    <h2>Приемная главного врача</h2>
    <ul>
        <li>ПН-ПТ: 9:00 - 19:00</li>
        <li>СБ: 9:00 - 17:00</li>
        <li>ВС - выходной</li>
    </ul>
    <h2>Начальник охраны</h2>
    <ul>
        <li>ПН-ПТ: 9:00 - 19:00</li>
        <li>СБ: 9:00 - 17:00</li>
        <li>ВС - выходной</li>
    </ul>
{% endblock %}